.category-cards .categ-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.category-cards .categ-card:hover {
  box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.2);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
  font-weight: 900;
  font-size: 15px !important;
  background-color: #34d399;
  padding: 7px 10px;
  border-radius: 5px;
}
