.Slider{
    background: url(../../Assets/Images/slider-1_rl8qdc.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Slider2{
    background: url(../../Assets/Images/slider-2_o6aezc.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Slider3{
    background: url(../../Assets/Images/slider-3_iw4nnf.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Slider4{
    background: url(../../Assets/Images/slider-1_rl8qdc.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Slider5{
    background: url(../../Assets/Images/slider-2_o6aezc.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}